body, html{
	height: 100%;
}

.top-nav{
	position: fixed;
	width: 100%;
	color: white;
	background-color: #00afff;
	z-index: 99;
}

.side-nav{
	position: fixed;
	top: 48px;
	width: 250px;
	height: 100%;
	color: #6d6d6d;
	background-color: #f1f1f1;
}

.side-nav-list{
	padding: 10px 20px;
}

.side-nav-list>li{
	border-radius: 50px;
	
}

.side-nav-list a{
	display: block;
	margin-bottom: 5px;
	padding: 5px 20px;
	color: #6d6d6d;
	cursor: pointer;
}

.side-nav-list img{
	width: 20px;
}

.side-nav-list>li:hover{
	background-color: #e4e4e4;
}

.side-nav-list>li:active{
	background-color: #e4e4e4;
}

.content-area{
	margin-left: 250px;
	color: #6d6d6d;
}

.content-container{
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.pe-container>div{
	padding: 10px 20px;
	text-align: center;
}

.md-list-item-text{
	width: 100%;
	padding: 10px 0;
	line-height: 25px;
}

.item-topfont{
	color: #1976d2;
}

.item-bottomfont{
	font-size: 8px;
	color: #6d6d6d;
}