<div ng-controller="home_ctrl">
	<div class="content-container">
		<md-content class="md-padding" layout-xs="column" layout="row">
			<div flex-xs flex-gt-xs="50" layout="column">
				<md-card class="pe-card home-card" >
					<div ng-if='pe_loading' class="part-progress-circular-bk">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>

					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">跑操信息</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content class="clearfix">
						<div class="card-two-part clearfix">
							<div class="left">
								<h1>{{pe.content}}</h1>
								<h4>跑操次数</h4>
							</div>
							<div class="line"></div>
							<div class="right">
								<h1>{{pe.remain}}</h1>
								<h4>剩余天数</h4>
							</div>
						</div>
						<div class="remark">*剩余天数按工作日计算，不考虑天气影响与节假日，仅供参考</div>
					</md-card-content>
		     	</md-card>
			</div>

			<div flex-xs flex-gt-xs="50" layout="column">
				<md-card class="nic-card home-card">
					<div ng-if='nic_loading' class="part-progress-circular-bk">
						<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					</div>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">校园网</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content class="clearfix">
					<div class="card-two-part clearfix">
						<div class="left">
							<h1>{{nic.web.used}}</h1>
							<h4>已用流量</h4>
						</div>
						<div class="line"></div>
						<div class="right">
							<h1>{{nic.left}}</h1>	
							<h4>剩余</h4>
						</div>
					</div>
					<div class="remark">状态：{{nic.web.state}}</div>
					</md-card-content>
			 	</md-card>
			</div>
		</md-content>
	</div>
</div>