<div ng-controller="lecture_ctrl">
	<div ng-if="loading || notice_loading" class="progress-circular-bk">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div class="content-container" ng-if='!loading'>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="听讲记录">
				<md-list ng-if="content.length">
					<md-list-item ng-repeat="x in content">
						<div class="md-list-item-text">
							<div class="left">
								<div class="top-font">{{x.date}} @ {{x.place}}</div>
							</div>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>	
				</md-list>
				<div class="ifnull" ng-if="!content.length">暂无记录</div>
			</md-tab>
			<md-tab label="讲座预告">
				<md-list ng-if="notice_content.length">
					<md-list-item ng-repeat="x in notice_content">
						<div class="md-list-item-text">
							<div class="left">
								<div class="top-font">{{x.topic}}</div>
								<div class="bottom-font">{{x.date}} @ {{x.location}}</div>
							</div>
							<div class="right"><div class="top-font">{{x.speaker}}</div></div>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>	
				</md-list>
				<div class="ifnull" ng-if="!notice_notice.length">暂无预告</div>
			</md-tab>
		</md-tabs>
	</div>

</div>