<div ng-controller="srtp_ctrl">
	<div ng-if='loading' class="progress-circular-bk">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div class="content-container" ng-if='!loading'>
		<md-list >
			<md-title ng-if="content.length">我参加的项目：</md-title>
			<md-list-item ng-repeat="x in content">
				<div class="md-list-item-text">
					<div class="left">
						<div class="bottom-font">{{x.date}}</div>
						<div class="top-font">{{x.project}}</div>
						<div class="bottom-font" ng-if="x.department!=''">项目所属：{{x.department}}</div>
						<div class="bottom-font">项目类型：{{x.type}}</div>
						<div class="bottom-font" ng-if="x.proportion!=''">总学分：{{x['total credit']}} (工作比例：{{x.proportion}})</div>
					</div>
					<div class="right">
						<div class="top-font">学分 {{x.credit}}</div>
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</div>

</div>