<div ng-controller="gpa_ctrl">
	<div ng-if='loading' class="progress-circular-bk">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div class="content-container" ng-if='!loading'>
		<md-list ng-repeat="(key, value) in content">
			<md-title >{{key}}</md-title>
			<md-list-item ng-repeat="x in value">
				<div class="md-list-item-text">
					<div class="left">
						<div class="top-font">{{x.name}}</div>
						<div class="bottom-font">{{x.type}} <span ng-if="x.extra!=''">({{x.extra}})</span> 学分：{{x.credit}}</div>
					</div>
					<div class="right">
						<div class="top-font">成绩： {{x.score}}</div>
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</div>

</div>