<div ng-controller="lecture_ctrl">
	<div ng-if='loading' class="progress-circular-bk">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<div class="content-container" ng-if='!loading'>
		<md-list ng-if="content.length">
			<md-title>人文讲座预告</md-title>
			<md-list-item ng-repeat="x in content">
				<div class="md-list-item-text">
					<div class="left">
						<div class="top-font">{{x.topic}}</div>
						<div class="bottom-font">{{x.date}} @ {{x.location}}</div>
						<div class="bottom-font">{{x.speaker}}</div>
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>	
		</md-list>
		<div class="ifnull" ng-if="!content.length">暂无预告</div>
	</div>

</div>