<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>小猴偷米</title>
	<link rel="stylesheet" href="../css/3rd/angular-material.min.css">
	<link rel="stylesheet" href="../css/3rd/ng-animation.css">
	<link rel="stylesheet" href="../css/global.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<div ng-app="app" ng-cloak ng-controller="main_ctrl">
		<!-- 顶部栏 -->
		<div class="top-nav clearfix"">
			<div class="left brand-pic">
				<img src="../res/image/40.png" alt="">
			</div>
			<div class="left brand-name">
				&nbsp;&nbsp;&nbsp;小猴偷米
			</div>
			<div ng-click="refresh_click()" class="left refresh-button">
				<img src="../res/image/ic_refresh_white_24px.svg" alt="">
			</div>
			<div ng-click="close_click()" class="right close-button">
				<img src="../res/image/ic_close_white_18px.svg" alt="">
			</div>
		</div>

		<!-- 左侧导航栏 -->
		<div class="side-nav left">
			<ul class="side-nav-list">
				<li ng-repeat="x in items"  ng-class="{true:'active', false:''}[x.name_en==active_name]" ng-click="change_item($index)"><a href="{{'#/' + x.name_en}}">
					<img src="{{'../res/image/ic_' + x.name_en + '_invert.png'}}">&nbsp;&nbsp;{{x.name_zh}}</a>
				</li>
			</ul>
		</div>

		<!-- 内容区域 -->
		<div class="content-area" ui-view=""></div>
	</div>
	
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}
	</script>
	<script src="../js/3rd/angular.min.js"></script>
	<script src="../js/3rd/angular-ui-router.js"></script>
	<script src="../js/3rd/angular-animate.min.js"></script>
	<script src="../js/3rd/angular-aria.min.js"></script>
	<script src="../js/3rd/angular-messages.min.js"></script>
	<script src="../js/3rd/angular-material.min.js"></script>
	<script src="../js/index.js"></script>
</body>
</html>